.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  font-family: "Porsche Next", "Arial Narrow", Arial, "Heiti SC", SimHei, sans-serif;
}

.carlist-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  font-family: "Porsche Next", "Arial Narrow", Arial, "Heiti SC", SimHei, sans-serif;
}

.car-cards {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  max-width: 1200px; 
}



.car-card {
  width: 584.3px;
  height: 598.5px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;
  display: block;
  z-index: 11;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  line-height: 24px;
  letter-spacing: normal;
  color: rgb(0, 0, 238);
  transition: transform 0.3s, box-shadow 0.3s;
}

.car-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.car-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; 
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 8.1%,
   rgba(0, 0, 0, 0.8) 15.5%, rgba(0, 0, 0, 0.8) 22.5%, rgba(0, 0, 0, 0.78) 29%,
    rgba(0, 0, 0, 0.73) 35.3%, rgba(0, 0, 0, 0.67) 41.2%, rgba(0, 0, 0, 0.6) 47.1%,
     rgba(0, 0, 0, 0.52) 52.9%, rgba(0, 0, 0, 0.44) 58.8%, rgba(0, 0, 0, 0.33) 64.7%, 
     rgba(0, 0, 0, 0.22) 71%, rgba(0, 0, 0, 0.12) 77.5%, rgba(0, 0, 0, 0.05) 84.5%, 
     rgba(0, 0, 0, 0.01) 91.9%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}


.car-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px; 
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 8.1%,
   rgba(0, 0, 0, 0.8) 15.5%, rgba(0, 0, 0, 0.8) 22.5%, rgba(0, 0, 0, 0.78) 29%,
    rgba(0, 0, 0, 0.73) 35.3%, rgba(0, 0, 0, 0.67) 41.2%, rgba(0, 0, 0, 0.6) 47.1%,
     rgba(0, 0, 0, 0.52) 52.9%, rgba(0, 0, 0, 0.44) 58.8%, rgba(0, 0, 0, 0.33) 64.7%, 
     rgba(0, 0, 0, 0.22) 71%, rgba(0, 0, 0, 0.12) 77.5%, rgba(0, 0, 0, 0.05) 84.5%, 
     rgba(0, 0, 0, 0.01) 91.9%, rgba(0, 0, 0, 0) 100%);
  z-index: 1; 
}



.car-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.car-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 20px 30px ;
  box-sizing: border-box;
  z-index: 2; 
}

.car-name {
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;
}

.car-brand {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}


.car-name {
  margin: 10px;
  font-weight: 400;
}

.car-brand {
  margin: 0 10px;
  font-weight: 400;
}





