.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  font-family: "Porsche Next", "Arial Narrow", Arial, "Heiti SC", SimHei, sans-serif;
}

.carlist-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* центрируем всё по горизонтали */
  padding: 40px;
  font-family: "Porsche Next", "Arial Narrow", Arial, "Heiti SC", SimHei, sans-serif;
}

.car-cards {
  display: flex;
  justify-content: center; /* центрируем сами карточки */
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 1200px; /* ограничение по ширине */
}



.car-card {
  width: 584.3px;
  height: 598.5px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;
  display: block;
  z-index: 11;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  line-height: 24px;
  letter-spacing: normal;
  color: rgb(0, 0, 238);
  transition: transform 0.3s, box-shadow 0.3s;
}

.car-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.car-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.car-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.5); 
  color: #fff;
  padding: 15px;
  box-sizing: border-box;
}

.car-name {
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;
}

.car-brand {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}


.car-name {
  margin: 10px;
  font-weight: 400;
}

.car-brand {
  margin: 0 10px;
  font-weight: 400;
}





