
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
    background-color: #fff;
 
}


.hero {
  width: 100%;
}

.hero-image {
  width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: cover;
}

.hero-text {
  text-align: center;
  margin: 30px 20px;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #242424;
}

.hero-text p {
  font-size: 1.2rem;
  color: #555;
}


.hero-swiper {
  width: 100%;
  height: 703px;
}

.hero-slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}


.swiper-button-next,
.swiper-button-prev {
  color: #d5001c !important; 
  font-size: 24px;
}


.swiper-pagination-bullet {
  background: #c8cacb !important;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #d5001c !important;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 8px;
}

h2{
    color: rgb(1, 2, 5);
    font-family: "Porsche Next", "Arial Narrow", Arial, "Heiti SC", SimHei, sans-serif;
    font-size: 44px;
    text-align: center;
    line-height: 54.4875px;
    margin: 80px 0; 
  }
 h3{
  color: rgb(251, 252, 255);
     font-family: "Porsche Next", "Arial Narrow", Arial, "Heiti SC", SimHei, sans-serif;
    font-size: 16px;
    margin-left: 2px;
    line-height: 37.89px;
 }
.car-model-logo {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  z-index: 2;
}

.fuel {
  background: rgba(255,255,255,0.25);
  padding: 0px 6px;
  border-radius: 6px;
  font-size: 15px;
  display: inline-block;
  margin-bottom: 6px;
}

.arrow {
  color: white; 
  width: 24px;
  height: 24px;
}
.arrow svg {
  display: block;
  width: 100%;
  height: 100%;
}
.car-info {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-top: 10px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-top: 28px;
}


