:root {
  --card-bg: #ffffff;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --card-shadow-hover: rgba(0, 0, 0, 0.2);
  --text-color: #333;
  background-color: #EEEFF2;
  font-family: "Porsche Next", "Arial Narrow", Arial, sans-serif;
}

.model-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr)); 
  gap: 40px;
  justify-items: center; 
  padding: 0 50px;
  margin-top: 70px;
  margin-bottom: 120px;
}

.model-card2 {
  width: 420px;
  height: 455px;
  background-color: var(--card-bg);
  border-radius: 20px;
  overflow: visible;
  cursor: pointer;
  position: relative;

  transition: transform 0.4s cubic-bezier(0.25,0.1,0.25,1), box-shadow 0.4s ease;
  box-shadow: 0 10px 20px var(--card-shadow);
}

.model-card2:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px var(--card-shadow-hover);
}

.model-image {
  position: absolute;
  left: 50%;
  margin-top: 20px;
  transform: translateX(-50%);
  width: 400px;
  height: auto;
  object-fit: contain;
  transition: transform 0.4s cubic-bezier(0.25,0.1,0.25,1);
  z-index: 2;
}

.model-card2:hover .model-image {
  transform: translateX(-50%) scale(1.05);
}

.model-info {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 100px;
}

.model-info h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 8px;
  margin: 20px 0 0 0;
}

.model-info p {
  font-weight: 400;
  color: #535457;
  margin: 0;
  padding: 4px 0;
  font-size: 22px;
  font-family: "Arial Narrow";
  line-height: 29.94px;

}

.model-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

}
.model-actions button {
  display: block; 
  width: 164.7px;
  height: 54px;
  border-radius: 4px; 
  background-color: #181314;
  color: #fff; 
  font-family: "Porsche Next", "Arial Narrow", Arial, "Heiti SC", SimHei, sans-serif;
  font-weight: 500;
  line-height: 24px;
  font-size:18px;
  letter-spacing: normal;
  text-align: center;
  cursor: pointer;
  
}

.model-actions img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.model-actions img:hover {
  transform: translateX(5px);
}



h2{
    color: rgb(1, 2, 5);
    font-family: "Porsche Next", "Arial Narrow", Arial, "Heiti SC", SimHei, sans-serif;
    font-size: 44px;
    text-align: center;
    line-height: 54.4875px;
    margin: 80px 0;
}

p{
    font-size: 22px;
    font-family: "Arial Narrow";
    font-weight: 400;
    line-height: 29.94px;
    margin: 0%;
}

h1{
    font-size: 56px;
    font-family: "Porsche Next", "Arial Narrow", Arial, "Heiti SC", SimHei, sans-serif;
    font-weight: 700;
    color: rgb(1, 2, 5);
    text-align: start;
    margin-left: 50px;
    margin-top: 100px;

}