.footer {
    width: 100%;                  
    box-sizing: border-box;        
    background: #121212;
    color: #fbf9f9;
    text-align: center;
    padding: 20px 40px;           
    margin-top: auto;
  }
  
  .footer p {
    margin: 5px 0;
    font-size: 0.95rem;
    color: #fbf9f9;
  }
  