.header {
  width: 100%;
  height: 83px;
  padding: 0 60px; 
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center; 
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-left,
.nav-center,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-center {
  flex: 1;
  justify-content: center;
}

.nav-left a,
.nav-right a,
.nav-right .user-name {
  margin-left: 15px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.icon {
  width: 28px; 
  height: 28px;
}


